Repository 4darsh-Dev/DecenTrade, pull requests merged in 2024-10, with the labels that each got.

#18 Fix issue#14: Switched IPFS provider from Infura to Pinata
  docs/architecture.md
  frontend/.gitignore
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/NFTMarketplace.jsx
  frontend/src/pages/CreateNFTPage.jsx
  frontend/src/pages/ExplorePage.jsx
  frontend/src/services/pinataService.js
  frontend/src/utils/ethereum.js
Labels: documentation, wob24, frontend, UI, config, level3

#11 Adding Issue-Template and also PR-template
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/documentation_update.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/PR_Template.md
Labels: good first issue, wob24, level1

#20 Navbar logo clickable
  frontend/src/components/Navbar.jsx
Labels: frontend, UI

#25 added sample page routes
  frontend/src/App.jsx
  frontend/src/components/Navbar.jsx
  frontend/src/pages/AboutPage.jsx
  frontend/src/pages/CreatorsPage.jsx
  frontend/src/pages/FAQPage.jsx
  smart-contracts/scripts/deploy.js
Labels: frontend, backend, UI

#28 Update README.md
  README.md
Labels: documentation, wob24, level1

#29 updated the Navbar to have the Connect Wallet option
  frontend/src/App.jsx
  frontend/src/components/NFTMarketplace.jsx
  frontend/src/components/Navbar.css
  frontend/src/components/Navbar.jsx
  frontend/src/pages/HomePage.jsx
Labels: wob24, frontend, UI, gssoc-ext, level2

#46 404 error page
  frontend/src/App.jsx
  frontend/src/assets/404.png
  frontend/src/components/NotFoundPage.jsx
  frontend/vercel.json
Labels: frontend, UI, config

#51 Create Contributing.md
  Contributing.md
Labels: documentation, level1, hacktoberfest, gssoc-ext, hacktoberfest-accepted

#39 Added toggle button for light-dark button
  frontend/src/components/Navbar.css
  frontend/src/components/Navbar.jsx
  frontend/src/pages/CreateNFTPage.jsx
Labels: frontend, UI

#67 Aligned Create NFT Form UI with Website Theme
  frontend/src/pages/CreateNFTPage.jsx
Labels: frontend, UI, hacktoberfest, gssoc-ext, hacktoberfest-accepted, level2

#93 Fixes issue #47 : Backend Integration
  backend/app.js
  backend/package-lock.json
  backend/package.json
  backend/src/controllers/ipfsController.js
  backend/src/routes/ipfs.js
  backend/src/services/pinataService.js
  frontend/src/components/NFTMarketplace.jsx
  frontend/src/services/pinataService.js
  frontend/src/utils/ethereum.js
  package-lock.json
  package.json
Labels: frontend, UI, config, level3, hacktoberfest, gssoc-ext, hacktoberfest-accepted, dependencies

#97 Backend + Frontend Ingtegeration
  backend/app.js
  backend/package-lock.json
  backend/package.json
  backend/vercel.json
  frontend/src/utils/ethereum.js
Labels: frontend, config

#89 Added FAQ page
  frontend/package-lock.json
  frontend/package.json
  frontend/src/assets/faq-image.png
  frontend/src/pages/FAQPage.jsx
  frontend/src/styles/faq.css
Labels: frontend, UI, config, hacktoberfest, gssoc-ext, hacktoberfest-accepted, level2

#107 Improve card design
  frontend/src/components/InfoCards.jsx
Labels: level1, frontend, UI, hacktoberfest, gssoc-ext, hacktoberfest-accepted

#109 Missing Footer on Multiple Pages and Responsiveness Improvements
  frontend/src/App.jsx
  frontend/src/components/Footer.jsx
  frontend/src/pages/AboutPage.jsx
  frontend/src/pages/CreatorsPage.jsx
  frontend/src/pages/FAQPage.jsx
  frontend/src/pages/HomePage.jsx
Labels: level1, frontend, UI, hacktoberfest, gssoc-ext, hacktoberfest-accepted

#122 Updated Code of Conduct.md
  Code of Conduct.md
Labels: documentation, level1, hacktoberfest, gssoc-ext, hacktoberfest-accepted

#111 Added about page
  frontend/package-lock.json
  frontend/package.json
  frontend/src/pages/AboutPage.jsx
Labels: frontend, UI, config, hacktoberfest, gssoc-ext, hacktoberfest-accepted, level2

#106 ADD Sticky navbar, made it responsive added Hamber DD when on mobile view
  frontend/src/components/Navbar.css
  frontend/src/components/Navbar.jsx
Labels: frontend, UI, hacktoberfest, gssoc-ext, hacktoberfest-accepted, level2

#120 Added Error Handling for Missing Wallet Connection on Explore Page
  frontend/src/pages/ExplorePage.jsx
Labels: frontend, UI, hacktoberfest, gssoc-ext, hacktoberfest-accepted, level2

#101 Redesigned CreateNFT page
  frontend/src/components/Footer.jsx
  frontend/src/components/Navbar.jsx
  frontend/src/pages/CreateNFTPage.jsx
Labels: frontend, UI, hacktoberfest, gssoc-ext, hacktoberfest-accepted, level2

#116 Feature: Add Contributor List to Creator Page
  frontend/src/pages/CreatorsPage.css
  frontend/src/pages/CreatorsPage.jsx
Labels: frontend, UI, hacktoberfest, gssoc-ext, hacktoberfest-accepted, level2

#128 Imporove Dark mode effects and ui
  frontend/src/components/Navbar.jsx
  frontend/src/pages/CreatorsPage.jsx
  frontend/src/pages/FAQPage.jsx
  frontend/src/styles/faq.css
  frontend/tailwind.config.js
Labels: level1, frontend, UI, config, hacktoberfest, gssoc-ext, hacktoberfest-accepted

#68 Update DecenTrade deploy.js
  smart-contracts/scripts/deploy.js
Labels: level1, backend, gssoc-ext

#72 Remove white blank space between footer and background image
  frontend/index.html
Labels: level1, gssoc-ext

#119 Add Chatbot for User Assistance and Transaction Support on DecenTrade
  frontend/src/App.jsx
  frontend/src/Chatbot.jsx
  frontend/src/components/Footer.jsx
Labels: frontend, UI, level3, hacktoberfest, gssoc-ext, hacktoberfest-accepted

#125 Fixes issue #105 : Users can view nfts without connecting wallet
  backend/app.js
  backend/package-lock.json
  backend/package.json
  backend/src/controllers/nftController.js
  backend/src/routes/nfts.js
  backend/src/services/pinataService.js
  backend/src/utils/getContract.js
  backend/src/utils/toBase64.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/main.jsx
  frontend/src/pages/ExplorePage.jsx
  frontend/src/utils/ethereum.js
  frontend/src/utils/handleCompressedData.js
Labels: frontend, UI, config, hacktoberfest, gssoc-ext, hacktoberfest-accepted

#141 added multilanguage support
  frontend/index.html
  frontend/src/App.jsx
  frontend/src/components/GTranslateLoader.js
Labels: frontend, UI, hacktoberfest, gssoc-ext, hacktoberfest-accepted, level2

#148 added count up animation
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/src/main.jsx
  frontend/src/pages/CreatorsPage.jsx
Labels: frontend, UI, config, gssoc-ext, level2
