Repository 4darsh-Dev/DecenTrade, pull requests merged in 2024-11, with the labels that each got.

#142 Enhance FAQS Section and Added Forums | Issue #129
  frontend/src/pages/FAQPage.jsx
Labels: frontend, UI, hacktoberfest, gssoc-ext, hacktoberfest-accepted, level2

#155 Resolve issue [Bug]: Not taking to correct pages #135
  frontend/src/components/InfoCards.jsx
Labels: level1, frontend, UI, hacktoberfest, gssoc-ext

#153 added confirmation message after subscribing the newsletter form
  frontend/src/components/Footer.jsx
Labels: level1, frontend, UI, gssoc-ext

#152 fixes #124: mobile view navbar - add cross icon
  frontend/src/components/Navbar.jsx
Labels: level1, frontend, UI, gssoc-ext

#149 [FIX] Hover Effect of Footer Upper Section Card
  frontend/index.html
  frontend/src/components/InfoCards.jsx
Labels: level1, frontend, UI, gssoc-ext

#88 Create improve home page
  improve home page
Labels: level1, frontend, hacktoberfest, gssoc-ext

#175 Added Animated Scroll to top button
  frontend/index.html
  frontend/src/App.jsx
  frontend/src/components/ScrollToTop.jsx
  frontend/src/styles/ScrollToTop.css
Labels: frontend, UI, gssoc-ext, level2

#178 ADD Q&A Suggestion Template
  .github/ISSUE_TEMPLATE/config.yml
Labels: level1, gssoc-ext

#179 BUG FIX: Failed to load NFTs on /explore page
  backend/app.js
  backend/src/controllers/nftController.js
  backend/src/utils/getContract.js
  frontend/src/components/Navbar.css
  frontend/src/pages/ExplorePage.jsx
  frontend/src/styles/ScrollToTop.css
  frontend/src/utils/ethereum.js
  improve home page
  package-lock.json
  package.json
Labels: frontend, UI

#181 Scroll bar added on website : Suited scroll bar added
  frontend/src/styles/faq.css
Labels: level1, frontend, UI, gssoc-ext

#180 Added separate contact us section in FAQ's
  frontend/src/assets/ContactUs_Img.png
  frontend/src/assets/facebook-brands-solid.svg
  frontend/src/assets/instagram-brands-solid.svg
  frontend/src/assets/linkedin-brands-solid.svg
  frontend/src/assets/x-twitter-brands-solid.svg
  frontend/src/components/ContactUs.jsx
  frontend/src/pages/FAQPage.jsx
  frontend/src/styles/ContactUs.css
Labels: frontend, UI

#183 Create SECURITY.md
  SECURITY.md
Labels: documentation, level1, gssoc-ext

#189 added dockerfile and docker-compose
  backend/dockerfile
  docker-compose.yml
  frontend/dockerfile
Labels: gssoc-ext, level2

#187 CREATE CUSTOM ISSUE TEMPLATE
  .github/ISSUE_TEMPLATE/custom.yml
Labels: documentation, level1, gssoc-ext

#188 Add Stargazers and Forkers Profiles to README.md ✨
  README.md
Labels: documentation, level1, gssoc-ext
